.topnav-right-items li {
    cursor: pointer;
    transition: all 0.20s;
}

.topnav-link:hover {
    background-color: var(--lower-shadow);
}

.orange-link {
    background-color: var(--main-orange);;
}

.orange-link:hover {
    background-color: var(--sub-orange);
}

.top-nav-sign-in-link {
    background-color: var(--lower-shadow);
}

.top-nav-sign-in-link:hover {
    background-color: var(--sub-shadow);
}