.topnav-right-items li {
    cursor: pointer;
    transition: all 0.20s;
}

.topnav-link:hover {
    background-color: #eeeeee;
}

.orange-link {
    background-color:#E88730;
}

.orange-link:hover {
    background-color: #eb9244;
}