.topnav-right-items li {
    cursor: pointer;
    transition: all 0.20s;
}

.topnav-link:hover {
    background-color: rgb(242, 242, 242);
}

.orange-link {
    background-color:#fc9338;
}

.orange-link:hover {
    background-color: #f08629;
}

.topnav-searchbox-input {
    color: #6e6e6e;
}

.topnav-search-icon {
    stroke-width: 2px;
    color: #6e6e6e;
}